header, nav, main, footer, figure, figcaption { display: block; }

body { font-family:Verdana, Arial, sans-serif;
      background-color: #008080;
      background-image: none;
}
img {
  display: none;
}
nav {
  margin: 0;
}
text {
  text-align: center;
}
#wrapper {
  margin: auto;
  border: solid black 5px;
}
.text {
  margin: auto;
}
nav, nav ul, nav li { padding: 0;  }
nav li { display: block; }
nav ul {
  font-weight: bold;
}
